header {
  text-align: center;
  margin-bottom: 20vh;
  background-color: #a9a9a9;
}

#weather-display-container {
/* padding-top: 200px; */
  width: 70%;
  margin-left: 15%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.weather-display-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 270px;
  height: 20%;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.07);
  position: relative;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

body {
  background-color: #f3f4f5;
}

.weather-info {
  padding-top: 12px;
  font-size: 14px;
  /* border: solid 1px rgba(0, 0, 0, 0.07);
    border-radius: 4px; */
}

footer{
  text-align: center;
  position: relative;
  margin-top: 30vh;
  background-color: #a9a9a9;
}
